@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('fonts/eot/NotoSansKR-Regular-Hestia.eot'), url('fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('fonts/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('fonts/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('fonts/eot/NotoSansKR-Bold-Hestia.eot'), url('fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('fonts/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('fonts/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}