@charset 'utf-8';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css';
@import'font.css';

/* Box-Sizing 기본값 변경 */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 숨김 콘텐츠 */

legend,
.readable-hidden {
    background: yellow;
    position: absolute;
    left: -9999em;
    font-size: 0;
    line-height: 0;
    width: 1px;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
}


/* 링크 스타일 */

a {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background: #fff;
    color: #181818;
    font-size: 1.4rem;
    font-family: 'Noto Sans';
}


/* 헤더 */

.header {
    background: #432219;
    padding: 2rem;
    position: relative;
}


/* 로고 */

.logo {
    margin: 0;
}


/* 메인 메뉴 제어 버튼 */

.menubar-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.btn-menubar {
    outline: 5px solid blue;
    border: 0;
    margin: 0;
    padding: 40px 0 0 0;
    width: 40px;
    height: 40px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
}

.menubar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.menubar-top {
    top: 0;
}

.menubar-act .menubar-top {
    top: 50%;
    transform: rotate(45deg);
}

.menubar-middle {
    top: 50%;
    transform: translateY(-50%);
}

.menubar-act .menubar-middle {
    transform: translate(-100%, -50%);
}

.menubar-bottom {
    bottom: 0;
}

.menubar-act .menubar-bottom {
    top: 50%;
    transform: rotate(-45deg);
}


/* 메인메뉴 */


/* .main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all 5s;
}

.main-menu-act {
    height: 50px !important;
}

.main-menu li {
    width: 25%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Noto Sans Bold';
    padding: 1rem 0;
} */


/* offCancas 방식 */

.main-menu {
    list-style: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: -10rem;
    top: 0;
    margin: 0;
    width: 0;
    overflow: hidden;
    height: 100vh;
    font-size: 2rem;
    padding: 5rem;
    font-family: 'Noto Sans Bold', sans-serif;
    transition: all 0.5s;
}

.main-menu-act {
    left: 0;
    width: 70vw;
}

.main-menu li {
    margin-bottom: 2rem;
}

.main-menu a {
    display: block;
}


/* 검색 폼 */

.search-form {
    margin-top: 2rem;
}

.search-form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.search-form input[type='search'] {
    border: 1px solid #aaa;
    padding: 5px 1px 1px 5px;
    margin: 0 5px 0 0;
    width: calc(100% - 50px);
    /* rem 단위 사용 시  safari에서 버그가 발생할 수 있음. */
    height: 35px;
    border-radius: 5px;
    vertical-align: middle;
}

.search-form input[type='image'] {
    width: 40px;
    height: 40px;
    border: 0;
    vertical-align: middle;
}


/* 메인 콘텐츠 */

.content {
    padding: 2rem;
}


/* 웹카페 서적 */

.book {
    background: pink;
}

.subject {
    height: 60px;
    background: skyblue url('images/sprite_main.png') no-repeat;
    padding-left: 70px;
    font-size: 2rem;
    margin: 0;
}

.en-subject {
    display: block;
    margin-top: 0.5rem;
}

.book-subject {}

.book-subject .en-subject {
    color: #abd375;
}

.book-cover {
    margin: 1rem auto;
    width: 60%;
    text-align: center;
}

.book-cover img {
    max-width: 100%;
    height: auto;
}

.book-detail {
    text-align: center;
}

.book-heading,
.book-author-name {
    display: inline-block;
}

.book-grade {
    margin: 0;
}

.book-grade::before {
    content: "★★★★★";
    font-size: 2.5rem;
    color: #afd371;
}

.book-summary {
    line-height: 1.5;
}